<h1>Add a new Landmark:</h1>

<form action='/landmarks' method="post">
  <label for="landmark_name">Name</label>
  
</form>


<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
